<component name="libraryTable">
  <library name="spring-social-security-1.1.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.social/spring-social-security/1.1.0.M3/jar/661d37468476dcb046763c6fef6ba07198ff5e5f/spring-social-security-1.1.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.social/spring-social-security/1.1.0.M3/source/a9bd102f5c2ed760103f89969631585344bda5f9/spring-social-security-1.1.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>