<component name="libraryTable">
  <library name="spring-security-web-3.1.4.RELEASE">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.security/spring-security-web/3.1.4.RELEASE/jar/56d52794df838d0bc3ccbc149a62ea019946f82a/spring-security-web-3.1.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.security/spring-security-web/3.1.4.RELEASE/source/2b929ad26ad779af343590ac6227821f9aa69e9a/spring-security-web-3.1.4.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>