<component name="libraryTable">
  <library name="spring-test-3.1.2.RELEASE">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework/spring-test/3.1.2.RELEASE/source/1db97dfcc532036d3896dad12a0f1e8bea7b385f/spring-test-3.1.2.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>