<component name="libraryTable">
  <library name="spring-social-config-1.1.0.M3">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.social/spring-social-config/1.1.0.M3/jar/3daf989c7ca1f9e66a681aa1c86b1cb6e075695f/spring-social-config-1.1.0.M3.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.social/spring-social-config/1.1.0.M3/source/5b14fac4b48ba1326dd470c85e2bf8fa4d47b96d/spring-social-config-1.1.0.M3-sources.jar!/" />
    </SOURCES>
  </library>
</component>