<component name="libraryTable">
  <library name="spring-security-crypto-3.1.0.RELEASE">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-15/filestore/org.springframework.security/spring-security-crypto/3.1.0.RELEASE/source/751d59274fd2cb612d34de6357c228b69164e40e/spring-security-crypto-3.1.0.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>